.task-container {
    background-color: rgb(19, 19, 19);
    margin: 8px 0;
    padding: 15px 20px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color: #ccc;
    align-items: center;
    cursor: pointer;
}

.task-container:hover {
    background-color: rgb(26, 26, 26);
}

.task-title {
    cursor: pointer;
}

.buttons-container {
    min-width: 30%;
    display: flex;
    justify-content: flex-end;
}

.remove-task-button, .see-task-details-button {
    background-color: rgba(68, 68, 68, 0);
    border: none;
    font-size: 24px;
    color: #581299;
    margin: 0 5px;
    cursor: pointer;
}